.carousel {
    overflow: hidden;
}

.carouselInner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators>button {
    margin: 26px;
}